.timer {
  width: 650px;
  height: 250px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #ebe9e9;
}

.field {
  text-align: center;
  width: 150px;
}

.value {
  font-size: 45px;
  color: white;
  font-family: 'Orbitron', sans-serif;
  display: block;
  padding: 30px 5px;
  margin: 10px;
  background-color: rgb(24, 24, 24);
  border-radius: 15px;
}

.label {
  color: rgb(83, 83, 83);
  font-size: 15px;
  line-height: 2em;
  font-family: 'Orbitron', sans-serif;
}
